body {
background : #777;
height : 74vh;
margin: 0;
display: grid;
place-items: center; 
overflow: hidden; 
} 
.cards{
    display: flex;

    
    --distance: -4rem; 
}
.card {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem; 
  box-shadow: 0 0 8px black;
  transition: 0.5s;
}
.card:not(:first-child) {
   margin-left: var(--distance);
}
.card:hover
.card:focus-within {
   transform: translateY(-1rem); 
}
.card:hover ~ .card,
.card:focus-within ~ .card {
   transform: translateX(calc(var(--distance) * -1));    
    }